.DS_Store
log/**/*
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
public/images/uploads/*
config/database.rb
*.sql
sync_db
public/admin/javascripts/ckeditor/*
public/stylesheets/attitudeks.css.map
public/stylesheets/attitudeks.css