%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:imagesets, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:imagesets, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:imagesets, :edit, :id => @imageset.id)

.tabs-content
  = form_for :imageset, url(:imagesets, :update, :id => @imageset.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'imagesets/form', :locals => { :f => f }
