%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:imagesets, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:imagesets, :new)

.tabs-content
  = form_for :imageset, url(:imagesets, :create), :class => 'form-horizontal' do |f|
    =partial 'imagesets/form', :locals => { :f => f }
