@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$primary-color: #FF0080;
$secondary-color: #D08AAF;

body, h1, h2 {
  color: #333;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}
h4, h2 {
  padding-bottom: 0.4rem;
  border-bottom: 1px dotted $primary-color;

}
p {
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  text-decoration: none;
  color: $primary-color;
  &:hover { 
    color: $secondary-color;
  }
}
.front_description {
  padding: 1.5rem 0.5rem;
}
nav {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  width: 100%;
  float: left;
  ul {
    li {
      float: left;
      font-size: 1.4rem;
      padding-right: 1rem;
      height: 2.5rem;
      a {
        vertical-align: -webkit-baseline-middle;
      }
      &.title {
        font-size: 2.7rem;
        a {
          vertical-align: top;
        }
      }
    }
  }
  clear: both;
  border-bottom: 1px dotted $primary-color;
}

section.content {
  margin-top: 2rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  clear: left;
  
  
  .front_image_wrapper {
    max-width: 430px;
    .front_image {
      margin: 5px;
      padding-bottom: 66.666666666667%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 0;
      float: left;

      .cover {
        display: inline;
        background-color: #ABABAB;
        opacity: 0;
        float: left;
        height: 0;
        overflow: hidden;
        position: relative;
        padding: 10px 10px 66.666666666667% 10px;
        &:hover {
          opacity: 0.75;
        }
        

        .set_title {
          font-size: 1.3rem;
          margin-bottom: 2rem;
          float: left;
          color: #333;
          padding-bottom: .5rem;
          border-bottom: 1px solid $primary-color;
        }
        .set_description {
          clear: both;
          float: left;
          font-size: 0.8rem;
          font-weight: 300;
          color: #333;
        }
      }
    }
  }
  
  table {
    td {

      vertical-align: top;
      img {
        width: 420px;
      }
    }
  }
  
  .step_image_wrapper {
    max-width: 430px;
    .step_image {
      margin: 5px;
      max-height: 280px;
      overflow: hidden;
    }
  }
  
  .page_wrapper, .post .body {
    padding: 0 0.5rem;
    img {
      max-width: 100%;
      height: auto !important;
      display: block;
      padding: 30px 0px;
    }
  }
  .post_title, .page_title { 
    padding-left: .5rem;
    h2 {
      float: left;
    }
    clear: both;
  }
  .posts_index {
    clear: both;
  }
  .post {
    padding: 1.4rem .5rem;
    border-bottom: 1px dotted $secondary-color;
    .title {
      font-size: 1.2rem;
    }
    .date {
      font-size: 0.8rem;
      color: #666;
      font-style: italic;
    }
    .body {
      font-family: 'Open Sans', sans-serif ;
    }
  }
}


.step_description {
  font-weight: 300;
  margin: 1rem 0px;
  padding: 0 0.5rem;
}


footer {
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-top: 1px dotted $primary-color;
}
@media screen and (max-width: 47em) {
  nav {
    ul {
      li {
        font-size: 1.1rem;
        &.title {
          font-size: 1.8rem;
        }
      }
    }
  }
  
  section.content {
    .page_wrapper, .post .body {
      img {
        padding: 30px 0px;
      }
    }
  }
}
