.pure-g
  .pure-u-lg-5-8.pure-u-1
    .post
      .title= link_to post.title, url_for(:posts, :show, :id => post)
      .date= time_ago_in_words(post.created_at || Time.now) + ' ago'
      .body=  simple_format(post.body.html_safe)
