!!!
%head
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  = stylesheet_link_tag 'pure-min', 'grids-responsive-min'
  %title Test
  
%body
  %header
    %nav
      %ul
        %li menu
        %li menu
  %section
    %article= yield

  %footer
    %p copyright info, footer, etc.